#navbar {
    position: fixed;
    margin: 0%;
    page-break-after: 0%;
    background-color: var(--base-brown);
    top: 0;
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

#navitem {
    float: left;
    padding: 0% 15px 0% 15px;
}

#navitem a {
    font-size: 20px;
    color: var(--base-blue);
    text-decoration: none;
}

#navitem a:hover {
    color: var(--base-grey);
}
