body {
    background-image: url("./../images/classroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 175px;
    margin: 0;
    padding: 0;
}

#adminCard {
    margin-top: 30%;
}

#appSortContainer {
    display: flex;
}

.applicantContainer,
.appHeaderContainer {
    display: flex;
    justify-content: center;
}

.applicantContainer div,
.appHeaderContainer div {
    width: 33%;
}

p.appSchool,
.schoolColumn p {
    text-align: left;
}

.applicantSchool,
.applicantEligible,
.schoolColumn,
.eligibleColumn {
    text-align: center;
}

.applicantContainer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--base-blue-dark);
}

.applicantContainer a:hover {
    color: rgb(85, 85, 85);
}

#appSortContainer {
    display: flex;
    justify-content: space-between;
}

.appHeaderContainer {
    display: flex;
    justify-content: space-between;
    color: rgb(66, 66, 66);
    border-bottom: 2px solid rgb(66, 66, 66);
    margin: 10px 0px 10px 0px;
}

.appHeader p {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.applicationContainer {
    display: flex;
}

.appSchool {
    margin: 4px;
    color: var(--base-brown);
    font-weight: bold;
}

.appInfo {
    font-size: 17px;
}

.isEligibleImage {
    color: var(--base-blue-dark);
    font-size: 20px;
}

.notEligibleImage {
    color: var(--base-brown);
    font-size: 20px;
}

#sortBy {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#adminSearchBar {
    width: 100%;
    margin-left: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filtered,
.searched,
.hidden {
    display: none;
}

@media only screen and (max-width: 400px) {
    .appHeader p {
        font-size: 16px;
    }
    .appInfo,
    .appSchool {
        font-size: 13px;
    }
    .applicantEligible i {
        font-size: 17px;
    }
    .applicantContainer div,
    .appHeaderContainer div {
        width: 40%;
    }
}
