#applicantMain {
    padding: 5px 20px 5px 20px;
}

#applicantHeader {
    text-align: center;
}

#applicantName {
    font-size: 40px;
    margin: 0;
}

#applicantEmail {
    text-decoration: none;
    font-size: 20px;
    display: block;
    width: 100%;
    word-wrap: break-word;
}

.applicantInfo {
    font-size: 25px;
    display: block;
    width: 100%;
    word-wrap: break-word;
}

#applicantInfoContainer {
    padding: 0px 5px 0px 0px;
}

#applicantInfoContainer div p {
    margin: 8px;
}

.applicantInfoText {
    font-size: 22px;
    padding-left: 5px;
}

.paragraphText {
    display: block;
    width: 100%;
    word-wrap: break-word;
}

#eligibilityMessage {
    font-size: 20px;
    color: red;
}

.label {
    color: rgb(58, 58, 58);
    font-weight: 700;
    margin-right: 5px;
    display: block;
}

@media only screen and (max-width: 400px) {
    #applicantName{
        font-size: 30px;
    }
    #applicantEmail{
        font-size: 1.1rem;
    }

    #applicantHeader hr{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .label{
        font-size: 1.1rem;
    }

    p.applicantInfoText, #eligibilityMessage{
        font-size: 1rem;
    }
}
