<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./css/admin_page.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./css/main.css"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <nav id="navbar">
            <ul>
                <li id="navitem"><a href="/">Home</a></li>
            </ul>
        </nav>
        <div class="container card">
            <div id="appSortContainer">
                <input type="search" placeholder="Search..." id="adminSearchBar" />
                <select id="sortBy" name="sortOption">
                    <option value="all">All</option>
                    <option value="eligible">Eligible</option>
                    <option value="nonEligible">Non-Eligible</option>
                </select>
            </div>
            <div class="appHeaderContainer">
                <div class="appHeader">
                    <p>Name</p>
                </div>
                <div class="appHeader schoolColumn">
                    <p>School</p>
                </div>
                <div class="appHeader eligibleColumn">
                    <p>Eligibility</p>
                </div>
            </div>
            {{#applications}}
            <div class="applicantContainer">
                <div class="appInfoContainer">
                    <a
                        class="appInfo applicantName"
                        href="/admin/applicants/{{ id }}"
                        >{{ name }}</a
                    >
                </div>
                <div class="appInfoContainer applicantSchool">
                    <p class="appSchool">{{ school }}</p>
                </div>
                <div class="applicantEligible">
                    {{#eligible}}
                    <i
                        class="fas fa-check isEligibleImage isEligible"
                        value="{{ eligible }}"
                    ></i>
                    {{/eligible}}
                    {{^eligible}}
                    <i
                        class="fas fa-times notEligibleImage"
                        value="{{ eligible }}"
                    ></i>
                    {{/eligible}}
                </div>
            </div>
            {{/applications}}
        </div>
        <script src="./javascript/adminPage.js"></script>
    </body>
</html>
