<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./../css/main.css"
        />
        <title>Application Form</title>
    </head>
    <body>
        <div class="container">
            <div id="baseCampInfoContainer">
                <p>Student Application Form</p>
                <p>Base Camp Coding Academy</p>
                <p>301 North Main Street</p>
                <p>Water Valley, MS 38965</p>
                <a target="blank" href="http://www.basecampcodingacademy.org"
                    >http://www.basecampcodingacademy.org</a
                >
            </div>
            <p id="infoBody">
                Thank you for applying to BCCA! This is the first step of a two
                part application process. Strong candidates will be contacted
                for an in-person interview, so make sure to check your email for
                follow-up! Base Camp is a targeted program for north Mississippi
                high school seniors able to live within driving distance of
                Water Valley.
            </p>
            <p id="infoBody">
                Space at BCCA is very limited. This is a huge opportunity, and
                responsibility. Please help us understand why you are the right
                person to receive this opportunity. In order to be eligible to
                apply you must have first been nominated by a teacher, employer,
                or other qualified individual who can speak to your abilities.
            </p>
            <form id="applicationForm" method="POST" action="apply">
                <div class="formContainer" id="formPartOne">
                    <p>Name:</p>
                    <input
                        name="name"
                        type="text"
                        placeholder="Your answer"
                        required
                    />
                    <p>Email:</p>
                    <input
                        name="email"
                        type="email"
                        placeholder="Your answer"
                        required
                    />
                    <p>School:</p>
                    <input
                        name="school"
                        type="text"
                        placeholder="Your answer"
                        required
                    />
                    <p>Do you meet our eligibility requirements?</p>
                    <label>
                        Yep, lets get started!<input
                            class="formRadioButton"
                            id="radioButtonYes"
                            type="radio"
                            name="eligible"
                            value="true"
                            required
                        />
                    </label>
                    <label>
                        I don't think so.<input
                            class="formRadioButton"
                            id="radioButtonNo"
                            type="radio"
                            name="eligible"
                            value="false"
                        />
                    </label>
                </div>
                <div class="formContainer hidden" id="formPartTwo">
                    <p>Age:</p>
                    <input class="partTwoInput" name="age" type="number" />
                    <p>Phone:</p>
                    <input class="partTwoInput" name="phone" type="text" />
                    <p>Graduation:</p>
                    <input class="partTwoInput" name="graduation" type="date" />
                    <p>Aptitude:</p>
                    <textarea
                        class="partTwoInput"
                        name="aptitude"
                        cols="30"
                        rows="10"
                    ></textarea>
                    <p>Dedication:</p>
                    <textarea
                        class="partTwoInput"
                        name="dedication"
                        cols="30"
                        rows="10"
                    ></textarea>
                    <p>Passion:</p>
                    <textarea
                        class="partTwoInput"
                        name="passion"
                        cols="30"
                        rows="10"
                    ></textarea>
                    <p>Meeting Date:</p>
                    <input class="partTwoInput" name="meeting" type="date" />
                </div>
                <button>Submit</button>
            </form>
        </div>
        <script src="./../../javascript/formApply.js"></script>
    </body>
</html>
