
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    <h1>Application</h1>
    <form method="POST" action="apply">
        <p>Name: <input name="name" type="text" required</p>
        <p>Email: <input name="email" type="email" required></p>
        <p>School: <input name="school" type="text" required></p>
        <p>Eligible:</p>
        <p>Yes <input type="radio" name="eligible" value="true" checked></p>
        <p>No <input type="radio" name="eligible" value="false"></p>
        <p>Age: <input name="age" type="number"></p>
        <p>Phone: <input name="phone" type="text"></p>
        <p>Graduation: <input name="graduation" type="date"></p>
        <p>Aptitude: <textarea name="aptitude" cols="30" rows="10"></textarea></p>
        <p>Dedication: <textarea name="dedication" cols="30" rows="10"></textarea></p>
        <p>Passion: <textarea name="passion" cols="30" rows="10"></textarea></p>
        <button>Submit</button>
    </form>

</body>
</html>
