<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="./css/main.css"
        />
    </head>
    <body>
        <div class="container">
            <ul id="navbar">
                <li id="navitem"><a href="/">Home</a></li>
                <li id="navitem"><a href="user/apply">Apply</a></li>
            </ul>
            <div id="infoContainer">
                <p id="infoHeader">What is Base Camp Coding Academy</p>
                <p id="infoBody">
                    Located in Water Valley, MS, Base Camp Coding Academy (BCCA)
                    is a hands-on, challenging and fun program, designed to
                    train students to be software developers in 12 months.
                </p>
                <p id="infoBody">
                    In a small classroom setting, you will work with real world
                    technologies to learn the fundamentals of coding, app
                    development and the life leadership skills you will need to
                    be successful in your career and competitive in the job
                    market.
                </p>
            </div>
        </div>
    </body>
</html>
