<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <p>Student Application Form</p>
        <p>Base Camp Coding Academy</p>
        <p>301 North Main Street</p>
        <p>Water Valley, MS 38965</p>
        <a href="http://www.basecampcodingacademy.org">http://www.basecampcodingacademy.org</a>
        <p>Thank you for applying to BCCA! This is the first step of a two part application process. Strong candidates will be contacted for an in-person interview, so make sure to check your email for follow-up! Base Camp is a targeted program for north Mississippi high school seniors able to live within driving distance of Water Valley.</p>
        <p>Space at BCCA is very limited. This is a huge opportunity, and responsibility. Please help us understand why you are the right person to receive this opportunity. In order to be eligible to apply you must have first been nominated by a teacher, employer, or other qualified individual who can speak to your abilities.</p>
    <a href="user/apply"><button>Apply</button></a>
</body>
</html>
